* {
	margin: 0;
	border: 0;
	padding: 0;
	
	box-sizing: border-box;
	
	font-family: sans-serif;
}

div#bwbox {
	position: relative;
	
	margin: 0 auto;
	margin-bottom: 1rem;
	padding-top: 6.5rem;
	
	width: 13rem;
	height: 8rem;
}

div#bwbox::after {
	content: "";
	
	display: block;
	position: absolute;
	
	top: -5%;
	left: -12.5%;
	
	width: 125%;
	height: 110%;
	
	background-color: black;
	
	filter: blur(4px);
	
	z-index: -2;
}

div#bwbox h1, div#bwbox h2, div#bwbox h3 {
	display: block;
	position: absolute;
}

div#bwbox h1 {
	top: 1.7rem;
	left: 2rem;
	
	float:left;
	
	color: lime;
	
	mix-blend-mode: difference;
	
	transform-origin: center;
	transform: rotate(-12.5deg);
	
	font-size: 4rem;
}

div#bwbox h1::after {
	content: "";
	
	display: block;
	position: absolute;
	
	top: -5%; left: -5%;
	
	width: 110%; height: 110%;
	
	background-color: #1f3f7f;
	
	transform-origin: center;
	transform: rotate(-12.5deg);
	filter: blur(4px);
	
	z-index: -1;
	
	animation: sine-horiz 2s ease-in-out infinite alternate, rotate 4s ease-in-out infinite alternate;
}

div#bwbox h2 {
	top: 3.9rem;
	left: 6.6rem;
	
	color: white;
	
	mix-blend-mode: difference;
	
	font-size: 2.5rem;
	
	animation: sine-horiz 2s ease-in-out infinite alternate, sine-vert 1.9s ease-in-out infinite alternate;
}

div#bwbox h3 {
	top: 3.85rem;
	left: 6.6rem;
	
	transform-origin: center;
	transform: rotate(-1deg);
	
	color: #3532ff;
	
	mix-blend-mode: difference;
	
	font-size: 2.5rem;
	
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	
	animation: sine-horiz 1.8s ease-in-out infinite alternate, sine-vert 1.7s ease-in-out infinite alternate;
}

@keyframes sine-horiz {
	from { margin-left: -.25rem; }
	to { margin-left: .25rem; }
}

@keyframes sine-vert {
	from { margin-top: -.25rem; }
	to { margin-top: .25rem; }
}

@keyframes rotate {
	from { transform: rotate(-15deg); }
	to { transform: rotate(15deg); }
}

div#bwbox p {
	margin-left: 3rem;
	
	color: white;
	
	mix-blend-mode: screen;
	
	font-family: serif;
}
