/* CSS By V360 */
/* donut steel */

/* Reset Styles */
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	
	box-sizing: border-box;
	
	scroll-behavior: smooth;
}

html, body {
	min-height: 100vh;
}

/* Variables here! */
:root {
	--text-color: #cfcfcf;
	--link-color: #afcfff;
	
	--thin-border-size: .125rem;
	--thin-border-color: #1f1f1f;
}

body {
	color: var(--text-color);
	background-color: #2f2f2f;
	
	font-family: "Open Sans", "Roboto", sans-serif;
	
	line-height: 1.6em;
}

/* Header Layout */
header {
	display: block;
	position: sticky;
	
	top: 0;
	
	width: 100%;
	height: 3rem;
	
	background-color: black;
	
	overflow: hidden;
	
	z-index: 1;
}

header > div.container {
	display: block;
	
	padding: 0 .5rem;
	
	height: 3rem;
}

header > div.container > * {
	display: inline-block;
	
	height: 3rem;
	
	vertical-align: top;
	
	line-height: 3rem;
}

header h1 {
	float: left;
	
	margin: 0 .5rem;
}

header nav#header-nav,
header #toggle-nav {
	float: right;
}

header #toggle-nav {
	display: none;
	
	margin: .5rem 0 .5rem .5rem;
	
	width: 2rem;
	height: 2rem;
	
	background-image: url("../img/menu.png");
	background-position: center;
	background-size: 1.5rem;
	background-repeat: no-repeat;
}

/* Section Layout */
section > :last-child {
	border-bottom: solid var(--thin-border-size) var(--thin-border-color);
	
	box-shadow: 0 .25rem .25rem -.25rem #1f1f1f;
}

footer {
	margin: .5rem;
	
	text-align: center;
	
	font-size: .75rem;
	
	color: #7f7f7f;
}

/* Text layout */
a:link,  a:visited {
	display: inline-block;
	position: relative;
	
	color: var(--link-color);
	
	text-decoration: none;
}

/* a:hover {
	text-decoration: underline;
} */

a::after {
	content: "";
	
	position: absolute;
	bottom: 0;
	display: block;
	margin: 0 50%;
	
	width: 0;
	height: .125rem;
	
	background-color: var(--link-color);
	
	transition: all .25s ease-out;
	transition-property: width, margin;
}

.here a::after {
	transition: none;
}

a:hover::after, .here a::after {
	margin: 0;
	
	width: 100%;
}

h1, h2, h3 {
	font-family: "SF Display", "Lato", "Roboto", sans-serif;
	font-weight: 300;
	font-weight: 100;
	font-size: 2rem;
	
	line-height: 1.4em;
}

h1 { font-size: 2rem; font-weight: 300; font-weight: 100; }
h2 { font-size: 2rem; font-weight: 300; font-weight: 200; }
h3 { font-size: 1.75rem; font-weight: 300; }

hr {
	margin: .5rem 0;
	
	height: .125rem;
	
	background-color: #2f2f2f;
}

blockquote {
	padding: .5rem;
	
	background-color: #474747;
	
	font-style: italic;
}

ul {
	list-style-position: inside;
}

/* General nav layouts */
nav ul,
nav li {
	display: inline-block;
}

nav li:not(:last-child)::after {
	/* Bonus space because CSS afters are dumb */
	content: " \2022  ";
	
	white-space: pre;
}

/* Containers */
.container {
	display: block;
	
	margin: 0 auto;
	
	width: 100%;
	
	max-width: 64rem;
}

section .container {
	padding: 1rem 2rem;
	border-left: solid var(--thin-border-size) var(--thin-border-color);
	border-right: solid var(--thin-border-size) var(--thin-border-color);
	
	background-color: #3f3f3f;
}

/* Buttonlikes */
div.button-set {
	display: block;
	margin: .5rem 0;
	
	text-align: center;
}

.buttonlike {
	display: inline-block;
	
	border: solid var(--thin-border-size) var(--thin-border-color);
	border-radius: .5rem;
	padding: .5rem .75rem;
	
	text-decoration: none;
	
	background-color: #2f2f2f;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	
	cursor: pointer;
}

.buttonlike:link, .buttonlike:visited {
	color: var(--text-color);
}

.buttonlike::after {
	content: none;
}

.buttonlike.button-primary {
	background-color: #1f3f7f;
}

.buttonlike:hover {
	color: white;
	background-color: #6f6f6f;
	
	text-decoration: none;
}

.buttonlike.button-primary:hover {
	background-color: #3f7fff;
}

.buttonlike + .buttonlike {
	margin-left: .25rem;
}

/* ClearFix */
header::after,
.container::after,
.showcase::after,
ul.grid2::after {
	content: "";
	
	display: block;
	
	clear: both;
}

/* Dumb scrollbar stuff */
::-webkit-scrollbar {
	width: 1rem;
	
	background: black;
}
::-webkit-scrollbar-track {
	border-radius: .25rem;
	
	background: linear-gradient(to right, black, #1f1f1f);
}
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-button {
	border-radius: .25rem;
	
	background: linear-gradient(to right, #2f2f2f, #3f3f3f);
}
::-webkit-scrollbar-button {
	height: 1rem;
}
::-webkit-scrollbar-button:vertical:decrement {
	border-radius: 0 0 .25rem .25rem;
}
::-webkit-scrollbar-button:vertical:increment {
	border-radius: .25rem .25rem 0 0;
}

/* @medias */

@media (max-width: 32rem) {
	header #toggle-nav {
		display: block;
	}
	
	header nav#header-nav:not(.show-nav) {
		display: none;
	}
	
	.unimportant {
		display: none;
	}
}
@media (max-width: 64rem) {
	section .container {
		border-left: none;
		border-right: none;
	}
}
