/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro');

/* Reset everything */

* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Layout */

body {
	background-color: black;
}

h1 {
	font-size: 2.5em;
	font-weight: bold;
	
	word-break: break-word;
	
	font-family: 'Source Code Pro', monospace;
}
h1:not(:first-child) {
	margin-top: .5rem;
}

#typing:after {
	content: "_";
	
	color: white;
	opacity: 1;
	
	animation: ease-in-out 1s infinite cursorBlink;
}

@keyframes cursorBlink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

p {
	text-indent: 2em;
}

ul {
	margin-left: 2.5em;
}

img {
	margin: 0 auto;
	display: block;
	
	height: auto;
	max-width: 100%;
}

/* Link colors */
a:link {
	color: #dfdfff;
}
a:visited {
	color: #bfbfdf;
}
a:hover {
	color: #bfdfff;
}

/* Classes */

.container {
	margin: 1rem auto;
	
	max-width: 64rem;
	
	color: #efefef;
	background-color: #1f1f1f;
}
.container > :not(.parallax) {
	padding: 1rem;
}

/* Parallax */
.parallax {
	display: block;
	
	height: 75vh;
	
	background-image: linear-gradient(#1f1f1f, black);
	
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	
	transition: background-size 1s ease-in-out;
}
.parallax:hover {
	background-size: 150%;
}

/* media stuff */
@media (max-width: 1024px) {
	.container {
		margin: 0 auto;
	}
}
