/* Reset everything */

* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Layout */

body {
	background-color: #000000;
}

.container {
	margin: 0 auto;
	padding: 1em;
	
	max-width: 64em;
	
	color: #ffffff;
	background-color: #1f1f1f;
	
	font-family: monospace;
}
