/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/* Reset everything */

* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Layout */

body {
	background-color: #000000;
}

h1 {
	font-size: 2.5em;
	font-weight: bold;
}

p {
	text-indent: 2em;
}

ul {
	margin-left: 2.5em;
}

img {
	margin: 0 auto;
	display: block;
	
	height: auto;
	max-width: 100%;
}

/* Link colors */
a:link {
	color: #dfdfff;
}

a:visited {
	color: #bfbfdf;
}

a:hover {
	color: #bfdfff;
}

/* Classes */

.container {
	margin: 1em auto;
	padding: 1em;
	
	max-width: 64em;
	
	color: #efefef;
	background-color: #1f1f1f;
	
	font-family: 'Source Code Pro',monospace;
}

.fullwidth {
	padding: 0;
	margin: 0;
}
