</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link type="text/css" rel="stylesheet" href="styles.css" />
		<script>
			var typing;
			
			window.onload = function() {
				typing = document.getElementById("typing");
			}
			
			document.onkeypress = function(e) {
				var key = String.fromCharCode(e.keyCode);
				
				console.log(key);
				
				if (/[a-zA-Z0-9-_ ]/.test(key)) {
					typing.style.wordWrap = "break-word";
					typing.innerHTML = typing.innerHTML + key;
				}
			}
		</script>
	</head>
	<body>
		<div class="container">
