---
layout: default

title: Blog
---

			<div class="container">
				<h2>Blog{% if paginator.total_pages > 1 %} (page {{ paginator.page }} of {{ paginator.total_pages }}){% endif %}</h2>
				<div>
					{% for post in paginator.posts %}
						<hr />
						<div class="post-preview">
							<h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
							{% if post.subtitle %}<h4>{{ post.subtitle }}</h4>{% endif %}
							<aside>{{ post.date | date: "%B %d, %Y" }}{% if post.tags.size > 0 %} &ndash; Tag{% if post.tags.size > 1 %}s{% endif %}: {{ post.tags | join: ", " }}{% endif %}</aside>
							<blockquote>{{ post.excerpt }}</blockquote>
							<p class="read-more"><a href="{{ post.url }}">Read More...</a></p>
						</div>
					{% endfor %}
				</div>
				{% if paginator.total_pages > 1 %}
					<hr />
					<div id="pagination-controls">
						{% if paginator.previous_page %}<a href="{{ paginator.previous_page_path }}" class="pagination-previous">Previous</a>{% endif %}
						{% if paginator.next_page %}<a href="{{ paginator.next_page_path }}" class="pagination-next">Next</a>{% endif %}
					</div>
				{% endif %}
			</div>
