---
layout: default

title: Blog
---

			<div class="container">
				<h2>Blog posts</h2>
				<ul>
					{% for post in site.posts %}
						<hr />
						<div>
							<h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
							<aside>{{ post.date | date: "%B %d, %Y" }}{% if post.tags.size > 0 %} &ndash; {{ post.tags | join: ", " }}{% endif %}</aside>
							<blockquote>{{ post.excerpt }}</blockquote>
							<p><a href="{{ post.url }}">Read More...</a></p>
						</div>
					{% endfor %}
				</ul>
			</div>
