---
layout: default

title: Blog
---

			<div class="container">
				<h2>Blog{% if paginator.total_pages > 1 %} (page {% paginator.page %} of {{ paginator.total_pages }}){% endif %}</h2>
				<div>
					{% for post in paginator.posts %}
						<hr />
						<div>
							<h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
							<aside>{{ post.date | date: "%B %d, %Y" }}{% if post.tags.size > 0 %} &ndash; Tag{% if post.tags.size > 1 %}s{% endif %}: {{ post.tags | join: ", " }}{% endif %}</aside>
							<blockquote>{{ post.excerpt }}</blockquote>
							<!-- <p class="read-more"><a href="{{ post.url }}">Read More...</a></p> -->
						</div>
					{% endfor %}
				</div>
			</div>
