<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		{% include headTags.html %}
		<title>V360 &ndash; {{ page.title }}</title>
	</head>
	<body>
		{% include header.html %}
		<section>
			<div class="container post">
				<h2>{{ page.title }}</h2>
				<aside>{{ page.date | date: "%B %d, %Y" }}</aside>
				{{ content }}
				{% if page.tags.size > 0 %}<aside>Tag{% if page.tags.size > 1 %}s{% endif %}:  {{ page.tags | join: ", " }}</aside>{% endif %}
			</div>
		</section>
		{% include footer.html %}
	</body>
</html>
