<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		{% include headTags.html %}
		<title>V360 &ndash; {{ page.title }}</title>
		{% if page.subtitle %}<meta name="description" content="{{ page.subtitle }}" />{% endif %}
		{% if page.tags.size > 0 %}<meta name="keywords" content="{{ page.tags | join: "," }}" />{% endif %}
	</head>
	<body>
		{% include header.html %}
		<section>
			<div class="container post">
				<h2>{{ page.title }}</h2>
				{% if page.subtitle %}<h4>{{ page.subtitle }}</h4>{% endif %}
				<aside>{{ page.date | date: "%B %d, %Y" }}{% if page.update %}, updated {{ page.update | date: "%B %d, %Y" }}{% endif %}</aside>
				{{ content }}
				{% if page.tags.size > 0 %}<aside>Tag{% if page.tags.size > 1 %}s{% endif %}:  {{ page.tags | join: ", " }}</aside>{% endif %}
				{% if page.comments %}
				<hr />
				<div id="disqus_thread"></div>
				<script>
					(function() {
					var d = document, s = d.createElement('script');
					s.src = 'https://v360github.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
					})();
				</script>
				{% endif %}
			</div>
		</section>
		{% include footer.html %}
	</body>
</html>
