<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		{% include headTags.html %}
		<title>V360 &ndash; {{ page.title }}</title>
		{% if page.subtitle %}<meta name="description" content="{{ page.subtitle }}" />{% endif %}
		{% if page.tags.size > 0 %}<meta name="keywords" content="{{ page.tags | join: "," }}" />{% endif %}
	</head>
	<body>
		{% include header.html %}
		<section>
			<div class="container post">
				<h1>{{ page.title }}</h1>
				{% if page.subtitle %}<h3>{{ page.subtitle }}</h3>{% endif %}
				<aside>{{ page.date | date: "%B %d, %Y" }}{% if page.update %}, updated {{ page.update | date: "%B %d, %Y" }}{% endif %}</aside>
				{{ content }}
				{% if page.tags.size > 0 %}<aside>Tag{% if page.tags.size > 1 %}s{% endif %}:  {{ page.tags | join: ", " }}</aside>{% endif %}
				{% if page.comments %}
				<hr />
				<div id="disqus_thread">
					<h2>Disqus Comments</h2>
					<p>To let Disqus have your cookies, click the button below.</p>
					<div class="button-set">
						<a class="buttonlike button-primary" href="javascript:disqusLoad();">I'm okay with Disqus using my info.</a>
						<a class="buttonlike" href="javascript:disqusUnload();">Yeah, no.</a>
					</div>
				</div>
				<script>
					function disqusLoad() {
						var scriptElement = document.createElement("script");
						scriptElement.src = "https://v360github.disqus.com/embed.js";
						scriptElement.setAttribute("data-timestamp", +new Date());
						(document.head || document.body).appendChild(scriptElement);
					};
					function disqusUnload() {
						var thread = document.getElementById("disqus_thread");
						var gone = document.createElement("p");
						gone.innerHTML = "Disqus comments dismissed.";
						thread.parentNode.appendChild(gone);
						thread.remove();
					};
				</script>
				{% endif %}
			</div>
		</section>
		{% include footer.html %}
	</body>
</html>
